<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间-->
<mapper namespace="com.ying.mapper.GoodsMapper">
    <!--添加商品-->
    <insert id="addGoods" parameterType="com.ying.pojo.GoodsManage">
        INSERT INTO `goods_manage`
        (cid,goods_name,picture,`describe`,market_price,shop_price,repertory,`addDate`,is_hot,pflag)
        VALUE
        (#{cid},#{goodsName},#{picture},#{describe},#{marketPrice},#{shopPrice},#{repertory},#{addDate},#{isHot},#{pflag})
    </insert>
    
    
    

</mapper>